@import url(./styles.css);

.contact-background{
    background-color: var(--c_mostaza);
    overflow: hidden;
    height: 90vh;
}
.contact-container{
    display: flex;
    flex-direction: column;
    background-color: var(--c_blanco);
    border-radius: 1rem;
    padding: 4rem;
    width: 50%;
    margin: 4rem auto 4rem auto;
}
h1,
p{
    font-family: var(--f_fontFamily), var(--f_fontFamily--Secundary);
    text-align: center;
}
h1{
    font-size: min(50pt, calc(.8rem + 2vw));
}
p{
    font-size: var(--f_fontSize);
    margin-bottom: 2rem;
    font-size: min(25pt, calc(.8rem + 1vw));
}
#img-ilustrativa{
    width: 60%;
    margin: auto;
}
.button-mail{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--f_fontSize);
    font-family: var(--f_fontFamily), var(--f_fontFamily--Secundary);
    font-weight: 700;
    padding: 1rem 5rem;
    border-radius: .75rem;

    width: 75%;
    margin: auto;
}
.button-mail img{
    width: 30px;
    height: auto;
    margin-right: 1rem;
}
.button-mail{
    background-color: black;
    color: #ffffff;
}
.button-mail:hover{
    background-color: #3b3b3b;
}

/* Mobile */
@media screen and (max-width: 768px) {
    #img-ilustrativa{
        width: 100%;
        margin: auto;
    }
    .contact-background {
        background: 
            linear-gradient(to bottom, var(--c_lila) 0%, var(--c_lila) 20%),
            linear-gradient(to bottom, var(--c_celeste) 20%, var(--c_celeste) 40%),
            linear-gradient(to bottom, var(--c_aquamarino) 40%, var(--c_aquamarino) 60%),
            linear-gradient(to bottom, var(--c_amarillo) 60%, var(--c_amarillo) 80%),
            linear-gradient(to bottom, var(--c_mostaza) 80%, var(--c_mostaza) 100%);
        background-size: 100% 20%;
        background-repeat: no-repeat;
        background-position: 0 0, 0 25%, 25% 50%, 50% 75%, 75% 100%;
        height: 100vh;
    }
    .contact-container {
        width: 90%;
        height: 75vh;
        margin: 2rem auto 0 auto;
    }
    h1 {
        font-family: var(--f_fontFamily), var(--f_fontFamily--Secundary);
        font-size: min(24pt, calc(.8rem + 4vw));
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 2.5rem;
        font-size: min(15pt, calc(.8rem + 2vw));
    }
    .button-mail,
    .button-wpp {
        font-weight: 900;
        text-transform: uppercase;
        padding: .5rem;
        border: solid 1px var(--c_lila);
        border-radius: 0;
    }
    .button-mail {
        text-decoration: none;
    }
    .button-wpp {
        background-color: var(--c_lila);
    }
    .button-wpp:hover {
        background-color: #9a01c0;
    }
    .button-mail:hover {
        background-color: #3b3b3b;
    }
}
