body{
    margin: 0;
}
nav{
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #FBFBFB;
    box-shadow: 1px 0 8px black;
    
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        border: 1px solid #d9d9d9;
        border-radius: 2rem;
        padding: 0 .5rem 0 .5rem;
        

        a{
            text-decoration: none;
        }
        li{
            padding: 1rem;
        }
    }
}

.navButtons:hover{
    color: #D19AD9;
    text-shadow: 1px 1px 5px #D19AD9;
}
