*{
    margin: 0px;
    font-family: "Raleway", sans-serif;
}
.logo{
    position:absolute;
    height: 80px;
}

.navbar {
    position: fixed;
    z-index: 1;
    padding: 10px;
    height: 80px;
    width: 100%;
    box-shadow: 2px 2px 5px #bbb;
    background-color: #FBFBFB;
}

main{
    z-index: -2;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E1E1E;
}
a.active,a:hover{
    background: #D59BD8;
    transition: .5s;
}

.nav-logo.active, .nav-logo:hover{
    background: none;
}

@media (max-width: 768px) {

}

.checkbtn{
    font-size: 30px;
    color: #D59BD8;
    float: right;
    margin-top: 1rem;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 768px) {
    .checkbtn{
        display: block;
    }
    .nav-links{
        position: fixed;
        width: 105%;
        height: auto;
        background: rgba(125, 229, 236, 0.5);
        margin-top: 90px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    a:hover,a.active{
        background: none;
        color: #D59BD8;
    }
    #check:checked ~ ul{
        left: 0;
    }
}