/* Declaracion de colores  y Font*/
:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Raleway", sans-serif;
  --f_fontFamily--Secundary: "Roboto", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_blanco: #fff;
  --c_negro: #000;
  --c_lila: #D19AD9;
  --c_celeste: #04B2D9;
  --c_aquamarino: #04D9B2;
  --c_amarillo: #F2E750;
  --c_mostaza: #F2AA52;
}

/* Reseteo de Estilos General */

*, *::before, *::after{
  box-sizing: border-box; 
}
*{
  padding: 0;
  margin: 0;
}
body{
  min-height: 100dvh;
  font-family: var(--f_fontFamily)!important;
}

p{
  text-wrap: pretty;
}
h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}
body, html{
  height: 100%; 
  scroll-behavior: smooth; 
}
.first{
  background-color: var(--c_celeste);
  padding-top: 5px !important;
}

.second{
  background-color: var(--c_blanco);
  border-radius: 8px;
  margin-top: 6em !important;
  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
}

.container-card{
  width: 800px;
}

.cards-imgs{
  width: 320px !important;
  height: auto !important;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 
              0 3px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cards-imgs:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 
              0 6px 8px rgba(0, 0, 0, 0.2); 
}

.container-us h1{
  font-size: 4.2em !important;
  font-weight: bold;
}
.container-card-info{
  border-width: 10px !important; 
}

.container-card-info-b{
  margin-right: 1em !important;
}

.container-card-info-a{
  margin-left: 1em !important;
}

.container-card-c1{
  border-color: var(--c_aquamarino) !important;
}

.container-card-c2{
  border-color: var(--c_lila) !important;
}

.container-card-c3{
  border-color: var(--c_mostaza) !important;
}

.container-card-c4{
  border-color: var(--c_amarillo) !important;
}

.container-card-c5{
  border-color: var(--c_celeste) !important;
}


.container-card-info p{
  font-size: 2em;
}
.container-card-info h4{
  font-size: 2.5em !important;
}

.text-with-icon {
  display: inline-flex;
  align-items: center;
}

.text-with-icon i {
  margin-right: 2px; 
  font-size: 2em;
}

.text-with-icon a {
  display: inline-flex;
  align-items: center;
  text-decoration: none !important;
}

/* ----------mediaqueries------- */
/* medium */
@media screen and (min-width: 768px) and (max-width: 990px) {
  .first{
    padding-top: 4px !important;
  }

  .second{
    background-color: var(--c_blanco);
    border-radius: 8px;
    margin-top: 6em !important;
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
  }
  
  .img-logo{
    display: none;
   }

  .container-initial{
   width: 100% !important;
   margin: 2px 0 15px 0 !important;
  }
  .container-us{
    width: 100% !important;
    margin: 2px 0 10px 0!important;
    justify-content: start !important;
    align-items: start !important;
  }

  .container-us h1{
    font-size: 3em !important;
    font-weight: bold;
  }

  .container-card-info{
    border-width: 4px !important; 
  }

  .container-card-info-a{
    margin-left: 1em !important;
  }

  .container-card-info-b{
    margin-right: 1em !important;
  }

  .container-card-info p{
    font-size: 1.3em;
  }
  .container-card-info h4{
    font-size: 1.5em !important;
  }

  .text-with-icon i {
    font-size: 1.3em;
  }

  .div-info-1{
   width: 150px;
  }
  .div-info-2{
   width: 300px;
  }
  
}

/* small */
@media screen and (max-width: 767px) {
  .second{
   width: 99%;
   display: flex !important;
   flex-wrap: wrap !important;
   padding: 0 0 !important;
   margin-top: 6em !important;
  }

  .container-us h1{
    font-size: 2.4em !important;
    font-weight: bold;
    padding-left: 50px !important;
  }
  
   .card-html-container{
    width: 99% !important ;
    margin-left: 1.3%;
   }

  .img-logo{
    display: none;
   }

   .container-initial{
    width: 100% !important;
    padding-top: 2px !important;
   }

   .container-us{
     width: 100% !important;
     margin: 2px 0 8px 0!important;
     justify-content: start !important;
     align-items: start !important;
   }
 
   .card-html-container{
    width: 98% !important ;
   }

   .container-initial{
    width: 100% !important;
    padding-top: 5px;
   }


  .container-card{
    width: 400px !important;
  }
  
  .container-card-info{
    border-width: 4px !important; 
  }
  .container-card-info .cards-imgs{
    width: 230px !important;
  }

  p{
    font-size: 0.9em;
  }
  .container-card-info h4{
    font-size: 1.2em !important;
  }
  .container-card-info p{
    font-size: 1em !important;
  }

  .text-with-icon i {
    font-size: 1.2em;
  }

  .div-info-1{
   width: 80px;
   margin-top: 15px !important;
   margin-left: 1px;

  }
  .div-info-2{
   width: 200px;   
  }
  .name-title {
    text-align: right !important;  
  }

}
/*extra small */
@media screen and (max-width: 441px) {
  .second{
    margin-top: 6em !important;
    padding: 0 0 !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
  }

  .container-us h1{
    font-size: 2.2em !important;

  } 
   .container-initial{
    margin: 2px 0 10px 0 !important;
   }
   .container-us{
    margin: 2px 0 8px 0!important;   
    padding-top: 5px !important;
   }

  .container-card{
    width: 380px !important;
  }
  .container-card-info h4{
    font-size: 1em !important;
  }
  .container-card-info{
    border-width: 4px !important; 
    width: 110px;
  }

  .cards-imgs{
    width: 50px !important;
  }

  .div-info-1{
   width: 50px;
  }
  .div-info-2{
   width: 120px;   
  }
  
}


