:root {
    font-family: "Raleway", sans-serif;   
}
@media (max-width: 768px) {
    .presenter {
        margin-bottom: 1rem;
    }

    .presenter-image {
        width: 100%;
    }

    .workshops-description {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .workshops-description-title {
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }

    .workshops-slider {
        margin: 1rem;
        overflow: hidden;
    }

    .slider {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0 0.5rem 0;
    }

    .sub-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .slider-top {
        animation: slideLeft 20s linear infinite;
    }

    .slider-bottom {
        animation: slideRight 20s linear infinite;
    }

    .slider-item {
        margin: 0.25rem;
        height: 20vh;
        object-fit: cover;
    }
    .presented-workshops {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-25vw * 4));            
        }
    }
    @keyframes slideRight {
        0% {
            transform: translateX(-80vw);
        }

        100% {
            transform: translateX(0);            
        }
    }
}